<div class="container-fluid">
  <div class="row-fluid">
  <div class="centering text-center">
   <form>
     <div class="form-group"><strong>Login</strong></div>
     <div class="form-group">
     <button type="button" id="sign-in-facebook" class="btn btn-primary" (click) = "loginFacebook()">Sign in with Facebook</button>
     </div>
   <div class="form-group">
  <button type="button" id="sign-in-google" class="btn btn-danger">Sign in with Google</button>
  </div>
  </form>
  </div>
  </div>
  </div>
