/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
html, body {
    height:100%; 
    margin:0;
    padding:0;
    }
    .container-fluid{
    height:100%;
    display:table;
    width: 100%;
    padding: 0;
    }
    .row-fluid {height: 100%; display:table-cell; vertical-align: middle;}
    .centering {
    float:none;
    margin:0 auto;
    }
    #content-login {
    border: 0px solid red;
    padding: 5px;
    border-bottom-left-radius: 15px 15px;
    }
    #sign-in-google,#sign-in-facebook{
    width: 15%;
    }